name: Build Flet APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Dependencies (Hacker Way)
        run: |
          pip install --upgrade pip
          pip install flet
          # Telethonni to'g'ridan-to'g'ri papka ichiga o'rnatamiz
          pip install telethon --target .
          # Eski requirements faylini o'chirib tashlaymiz (agar bo'lsa)
          rm -f requirements.txt

      - name: Install Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Accept Android Licenses
        run: |
          yes | flutter doctor --android-licenses

      - name: Build APK
        run: |
          # Endi hech qanday requirements kerak emas
          yes | flet build apk
          
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cyber-guard-apk
          path: build/apk/*.apk
